body{
    margin:0px;
    padding: 0px;
    background-image: url(images/image0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: white;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
    padding: 0px 10%;
}
nav ul{
    display: flex;
}
nav ul li a{
    margin:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(7, 6, 6);
    font-size: 20px;
    font-weight: bold;
}
.description{
    color:white;
    border: 0px;
    text-align: center;
    margin-top: 10em;
}
.description h1{
    color: turquoise;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.description h2{
    color: tomato;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
img{
    border-radius: 10px;

}